* {padding:0; margin:0}
.navbar {
	float:left;
	background: #d35400;
	width: 100%;
	position:fixed;
	top: 0;
  	z-index: 10;
}

.navbar li {
	float: left;
	list-style:none;
}

.navbar li a {
	color: #FFFFFF;
	text-decoration:none;
	padding:20px;
	display:block;
	font-weight:bold;
}

.navbar li a:hover {
	background:#FFFFFF;
	color:#000000;
}

.logo {
	width: 80px;
  	
	float:left;
}
	
.center ul {
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	margin: auto;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url('background.jpg');
	background-size: cover;
	color:#f7f1e3;
	text-align:left;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.top-wrapper h1 {
	opacity: 0.7;
	font-size: 45px;
	margin-bottom: 10px;
}

body{
	font-family: Florence, cursive;
}

.lesson-wrapper {
	height: 500px;
	padding-bottom: 80px;
	background-color: #f7f7f7;
	text-align: center;
}

.heading {
	padding-top: 60px;
	padding-bottom: 30px;
	color: #5f5d60;
}

.heading h2 {
	font-weight: normal;
	color:black;
}

.heading h3 {
	font-weight: normal;
}

.lesson {
	float:left;
	width: 25%;
}

.lesson-icon {
	position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {            
	width: 80%;            
	display: inline-block;            
	margin-top: 20px;            
	font-size: 15px;            
	color: #b3aeb5;            
}

.message {
	background-color: #2ecc71;
	padding: 15px 40px 15px 40px;
}

.heading {
	padding-top: 60px;
	padding-bottom: 30px;
	color: #FFFFFF;
}


.heading h1 {
	font-weight:normal;
}

.lesson {
	float:left;
	width:25%;
}

.heading h2 {
	font-weight:normal;
}

.message-wrapper {
	border-bottom: 1px solid #eee;
	padding-bottom: 80px;
	text-align: center;
	background-color: #d35400;
}

.message {
	padding: 15px 40px;
	background-color: #2ecc71;
	cursor: pointer;
	box-shadow: 0.7px #1a7940;
}


.message:active {
	position:relative;
	top: 7px;
	box-shadow: none;
}

.btn-wrapper {
  	margin: 20px 0;
}

.btn {
  	padding: 12px 24px;
  	color: white;
  	display: inline-block;
  	opacity: 0.8;
  	border-radius: 4px;
}

.btn:hover {
  	opacity: 1;
}

footer img {
	width: 125px;
}

footer p {
	color: #b3aeb5;
	font-size: 12px;
}

footer {
	height: 120px;
	padding-top:40px;
}

.menu-icon {
  	color: white;
  	float: right;
  	font-size: 25px;
  	padding: 21px 0;
  	display: none;
}

.footer-list {
	float:right;
}

.footer-list li {
	padding-bottom: 20px;
}
